<!-- Barra lateral -->
<ul class="navbar-nav  sidebar sidebar-dark accordion h-100" id="accordionSidebar">

  <!-- Marca de la barra lateral -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fa-solid fa-recycle"></i>
    </div>
    <div class="sidebar-brand-text mx-3">EcoCycle</div>
  </a>

  <!-- Separador -->
  <hr class="sidebar-divider my-0">
  <div *ngIf="userLoginOn">


    <!-- Separador -->
    <hr class="sidebar-divider">

    <div *ngIf="userRole === 'ROLE_RECOLECTOR'">
      <!-- Encabezado -->
      <div class="sidebar-heading">
        Recolección
      </div>

      <!-- Elemento de navegación - Menú desplegable de páginas -->
      <li class="nav-item">
        <a class="nav-link" routerLink="cargar-materiales">
          <span>Cargar nuevo material <i class="fa-solid fa-hand-holding-heart"></i></span>
        </a>
        <a class="nav-link" routerLink="registro-recoleccion">
          <span>Ver recoleccion <i class="fa-solid fa-receipt"></i></span>
        </a>
        <a class="nav-link" routerLink="puntos-recoleccion">
          <span>Mis puntos de recolección <i class="fa-solid fa-map-marker-alt"></i></span>
        </a>
      </li>
    </div>

    <div *ngIf="userRole === 'ROLE_EMPLEADO'">
      <!-- Separador -->
      <hr class="sidebar-divider">

      <!-- Encabezado -->
      <div class="sidebar-heading">
        Empleado
      </div>

      <li class="nav-item">
        <a class="nav-link" routerLink="formulario-material">
          <span>Completar formulario de materiales <i class="fa-solid fa-pencil-alt"></i></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="recolectores">
          <span>Lista de Recolectores <i class="fa-solid fa-users"></i></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ordenes">
          <span>Órdenes de Distribución <i class="fa-solid fa-shipping-fast"></i></span>
        </a>
      </li>
    </div>

    <div *ngIf="userRole === 'ROLE_ADMIN'">
      <!-- Separador -->
      <hr class="sidebar-divider">

      <!-- Encabezado -->
      <div class="sidebar-heading">
        Administración
      </div>

      <!-- Elementos de navegación para el rol de ADMIN -->
      <li class="nav-item">
        <a class="nav-link" routerLink="lista-centros">
          <span>Lista de Centros <i class="fa-solid fa-building"></i></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="lista-empleados">
          <span>Lista de Empleados <i class="fa-solid fa-id-badge"></i></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="list-recolectores">
          <span>Lista de Recolectores <i class="fa-solid fa-users"></i></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="lista-materiales">
          <span>Lista de Materiales <i class="fa-solid fa-cubes"></i></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="lista-puntos-recoleccion">
          <span>Puntos de Recoleccion <i class="fa-solid fa-map-marker-alt"></i></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ordenes-distribuciones">
          <span>Órdenes de Distribución <i class="fa-solid fa-shipping-fast"></i></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pagos">
          <span>Pagos <i class="fa-solid fa-money-check-alt"></i></span>
        </a>
      </li>
    </div>



  </div>
  <div *ngIf="!userLoginOn">
    <!-- Elemento de navegación - Dashboard -->

    <li class="nav-item active">
      <a class="nav-link" routerLink="/login">
        <i class="fa-solid fa-sign-in"></i>
        <span>Iniciar sesión</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/register">
        <i class="fa-solid fa-user-plus"></i>
        <span>Registrarse</span></a>
    </li>
  </div>

  <!-- Elemento de navegación - Gráficos -->

  <!-- Separador -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Interruptor de barra lateral (barra lateral) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>