<!-- Barra lateral -->
<ul class="navbar-nav  sidebar sidebar-dark accordion h-100" id="accordionSidebar">

  <!-- Marca de la barra lateral -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fa-solid fa-recycle"></i>
    </div>
    <div class="sidebar-brand-text mx-3">EcoCycle</div>
  </a>

  <!-- Separador -->
  <hr class="sidebar-divider my-0">
  <div>


    <!-- Separador -->
    <hr class="sidebar-divider">

    <!-- Encabezado -->
    <div class="sidebar-heading">
      Recolección
    </div>

    <!-- Elemento de navegación - Menú desplegable de páginas -->
    <li class="nav-item active">
      <a class="nav-link" routerLink="cargar-materiales">
        <span>Cargar materiales <i class="fa-solid fa-hand-holding-heart"></i></span>
              </a>
      <a class="nav-link" routerLink="registro-recoleccion">

        <span>Ver recoleccion <i class="fa-solid fa-receipt"></i></span>

      </a>
    </li>



  </div>




  <!-- Elemento de navegación - Gráficos -->

  <!-- Separador -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Interruptor de barra lateral (barra lateral) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
