<!-- Barra lateral -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion h-100" id="accordionSidebar">

  <!-- Marca de la barra lateral -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fa-solid fa-wallet"></i>
    </div>
    <div class="sidebar-brand-text mx-3">EcoCycle</div>
  </a>

  <!-- Separador -->
  <hr class="sidebar-divider my-0">
  <div>
    <!-- Elemento de navegación - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" routerLink="home">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Inicio</span></a>
    </li>


    <!-- Separador -->
    <hr class="sidebar-divider">

    <!-- Encabezado -->
    <div class="sidebar-heading">
      Social
    </div>

    <!-- Elemento de navegación - Menú desplegable de páginas -->
    <li class="nav-item active">
      <a class="nav-link" routerLink="amigos">
        <i class="fa-solid fa-handshake"></i>
        <span>Amigos</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="grupos">
        <i class="fa-solid fa-user-group"></i>
        <span>Grupos</span></a>
    </li>
    <hr class="sidebar-divider">

    <!-- Encabezado -->
    <div class="sidebar-heading">
      Finanzas
    </div>
    <li class="nav-item active">
      <a class="nav-link" routerLink="pagos">
        <i class="fa-solid fa-money-bill"></i>
        <span>Pagos</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="gastos">
        <i class="fa-solid fa-dollar-sign"></i>
        <span>Gastos</span></a>
    </li>

  </div>




  <!-- Elemento de navegación - Gráficos -->

  <!-- Separador -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Interruptor de barra lateral (barra lateral) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
