<nav aria-label="Page navigation" *ngIf="totalPages!=0">
    <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 0">
            <button class="page-link" (click)="cambiarPagina(currentPage - 1)" aria-label="Anterior">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
            [class.active]="i === currentPage">
            <button class="page-link" (click)="cambiarPagina(i)"
                [style.backgroundColor]="i === currentPage ? '#6FBF6D' : 'white'"
                [style.color]="i === currentPage ? 'white' : '#6FBF6D'">
                {{ i + 1 }}
            </button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
            <button class="page-link" (click)="cambiarPagina(currentPage + 1)" aria-label="Siguiente">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>
</nav>