version: '3.9'

services:
  angular_app:
    container_name: angular_app
    image: dssd-angular-app:1.0.0
    build:
      context: ./cliente
      dockerfile: Dockerfile
    ports:
      - "4200:4200"   # Puerto de la aplicación Angular
      - "9229:9229"   # Puerto de depuración de Node.js
    volumes:
      - ./cliente:/app  # Monta el código fuente local en el contenedor
      - node_modules:/app/node_modules   # Volumen para node_modules
    depends_on:
      - java_app
    environment:
      - NODE_OPTIONS=--inspect=0.0.0.0:9229  # Activa el modo de depuración en el puerto 9229
    networks:
      - app_network

  java_app:
    container_name: java_app
    image: dssd-java-app:1.0.0
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
      - "5005:5005"   # Puerto de depuración de Java
    volumes:
      - .:/app
    depends_on:
      - java_db
      - bonita
    environment:
      - DB_URL=jdbc:postgresql://java_db:5432/dssd
      - DB_USERNAME=postgres
      - DB_PASSWORD=admin
      - BONITA_USERNAME=walter.bates
      - BONITA_PASSWORD=bpm
      - BONITA_SUPERADMIN_USERNAME=tech_user
      - BONITA_SUPERADMIN_PASSWORD=secret
      - MAIL=${MAIL}
      - ENCRYPTION_KEY=${ENCRYPTION_KEY}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - PASS_BONITA=${PASS_BONITA}
      - API_URL=http://java_api_ecocycle:8081 # URL para comunicarse con la API de Ecocycle
      - BONITA_URL=http://host.docker.internal:8080/bonita # URL para comunicarse con Bonita
      - JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=0.0.0.0:5005
    networks:
      - app_network # Red compartida
      - app_api_network # Red compartida para comunicación con Ecocycle

  java_db:
    container_name: java_db
    image: postgres:16.1
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=dssd
    networks:
      - app_network # Red compartida

  bonita-db:
    image: bonitasoft/bonita-postgres:latest
    container_name: bonita-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: my-secret-pw
    restart: always
    networks:
      - app_network # Red compartida

  bonita:
    image: bonita:2023.2-u0
    container_name: bonita
    ports:
      - "8080:8080"
    environment:
      - DB_VENDOR=postgres
      - DB_HOST=bonita-db
      - DB_PORT=5432
      - DB_NAME=bonita
      - DB_USER=bonita
      - DB_PASS=bpm
      - BIZ_DB_NAME=business_data
      - BIZ_DB_USER=business_data
      - BIZ_DB_PASS=bpm
      - HTTP_API=true
      - HTTP_API_USERNAME=pfadmin
      - HTTP_API_PASSWORD=pfsecret
      - TENANT_LOGIN=tech_user
      - TENANT_PASSWORD=secret
      - PLATFORM_LOGIN=pfadmin
      - PLATFORM_PASSWORD=pfsecret
      - HTTP_API_CORS_ALLOW_ORIGIN=*
      - HTTP_API_CORS_ALLOW_METHODS=GET,POST,PUT,DELETE,OPTIONS
    restart: on-failure:2
    depends_on:
      bonita-db:
        condition: service_healthy
    networks:
      - app_network # Red compartida
      - app_api_network # Red compartida para comunicación con Ecocycle

  java_api_ecocycle:
    container_name: java_api_ecocycle
    image: dssd-java-api-ecocycle:1.0.0
    build:
      context: ./api-ecocycle
      dockerfile: Dockerfile
    ports:
      - "8082:8081"
    depends_on:
      - java_api_ecocycle_db
    environment:
      - DB_API_URL=jdbc:postgresql://java_api_ecocycle_db:5432/api_ecocycle
      - DB_API_USERNAME=postgres
      - DB_API_PASSWORD=admin
      - JWT_KEY=7c3c1f3213be1371ca58f274d2a9b4c47c3c1f3213be1371ca58f274d2a9b4c47c3c1f3213be1371ca58f274d2a9b4c4
    networks:
      - api_network # Red compartida dentro de Ecocycle
      - app_api_network # Red compartida para comunicación con los otros servicios (Angular, Java, Bonita)

  java_api_ecocycle_db:
    container_name: java_api_ecocycle_db
    image: postgres:16.1
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=api_ecocycle
    networks:
      - api_network # Red compartida dentro de Ecocycle

networks:
  app_network:
  api_network:
  app_api_network:

volumes:
    node_modules:
