<div class="container">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/lista-puntos-recoleccion" class="text-success">
                    <i class="fa-solid fa-map-marker-alt"></i> Puntos de Recolección
                </a>
            </li>
            <li class="breadcrumb-item">
                <a [routerLink]="['/puntos-recoleccion', puntoId, 'recolectores']" class="text-success">{{puntoId}}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Recolectores</li>
        </ol>
    </nav>
    <div class="row align-items-center mb-4">
        <div class="col">
            <h2 class="font-weight-bold" style="color: #6FBF6D;">Lista de Recolectores No Asociados</h2>
        </div>
        <div class="col-auto">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm"
                    placeholder="Buscar por nombre o contacto" (keyup.enter)="buscarRecolectoresNoAsociados()">
                <div class="input-group-append">
                    <button class="btn text-white" style="background-color: #6FBF6D;" title="Buscar"
                        (click)="buscarRecolectoresNoAsociados()">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped" *ngIf="recolectoresNoAsociados.totalElements > 0; else noResults">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recolector of recolectoresNoAsociados?.content">
                <td>{{ recolector.nombre }}</td>
                <td>{{ recolector.apellido }}</td>
                <td>{{ recolector.dni }}</td>
                <td class="d-flex">
                    <button class="btn btn-outline-success btn-sm me-2" title="Asociar Recolector"
                        (click)="asociarRecolector(recolector.id)">
                        <i class="fas fa-plus"></i> Asociar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #noResults>
        <div class="alert alert-warning text-center" role="alert">
            No se encontraron recolectores no asociados.
        </div>
    </ng-template>

    <app-pagination [totalPages]="recolectoresNoAsociados.totalPages" [currentPage]="recolectoresNoAsociados.page"
        (pageChanged)="cambiarPagina($event)">
    </app-pagination>
</div>