<div *ngIf="registroRecoleccion && !errorMessage; else nuevoRegistro" class="container mt-4">
  <h2 class="text-center mb-4">Registro de Recolección</h2>
  <table *ngIf="registroRecoleccion.detalleRegistros && registroRecoleccion.detalleRegistros.length > 0" class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">Material</th>
      <th scope="col">Cantidad</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let detalle of registroRecoleccion.detalleRegistros">
      <td>{{ detalle.material.nombre }}</td>
      <td>{{ detalle.cantidadRecolectada }}</td>
    </tr>
    </tbody>
  </table>

  <div class="mt-3">
    <div *ngIf="registroRecoleccion.detalleRegistros && registroRecoleccion.detalleRegistros.length === 0" class="alert alert-warning">
      Aún no has cargado ningún material.
    </div>

    <div class="text-center mt-4 d-flex justify-content-end flex-wrap">      <button class="btn btn-primary m-2" [routerLink]="['/cargar-materiales']">Cargar nuevo material</button>
      <button *ngIf="registroRecoleccion.detalleRegistros && registroRecoleccion.detalleRegistros.length > 0"
              class="btn btn-success m-2" (click)="completarRegistro()">
        Marcar como Completado
      </button>
    </div>
  </div>
</div>

<ng-template #nuevoRegistro>
  <div *ngIf="errorMessage" class="alert alert-danger mt-4">
    {{ errorMessage }}
  </div>
  <div *ngIf="!errorMessage" class="container mt-4 text-center">
    <p>No tienes un registro activo.</p>
    <button class="btn btn-primary" routerLink="/cargar-materiales">Cargar nuevo material</button>
  </div>
</ng-template>
