<div class="container">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/list-recolectores">Recolectores</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" *ngIf="recolector">
                {{ recolector.username }}
            </li>
        </ol>
    </nav>

    <h2 class="font-weight-bold mb-4">Administrar Recolector</h2>

    <div class="card mb-4">
        <div class="card-body" *ngIf="recolector">
            <h4 class="card-title text-primary">{{ recolector.nombre }} {{ recolector.apellido }}</h4>
            <div class="mb-2"><strong>DNI:</strong> {{ recolector.dni }}</div>
            <div class="mb-2"><strong>Contacto:</strong> {{ recolector.username }}</div>
            <div class="mb-2"><strong>Email:</strong> {{ recolector.email }}</div>
            <div><strong>Estado:</strong>
                <span [class.text-success]="recolector.activo" [class.text-danger]="!recolector.activo">
                    {{ recolector.activo ? 'Activo' : 'Deshabilitado' }}
                </span>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-start" *ngIf="recolector">
        <button class="btn btn-outline-primary me-2" routerLink="/recolectores/{{ recolector.id }}/pagos">
            <i class="fas fa-dollar-sign"></i> Ver Pagos
        </button>
        <button class="btn btn-outline-primary" routerLink="/recolectores/{{ recolector.id }}/puntos">
            <i class="fas fa-map-marker-alt"></i> Ver Puntos de Recolección
        </button>
    </div>

    <div class="d-flex justify-content-end mt-4">
        <button class="btn btn-danger me-2" *ngIf="recolector?.activo" (click)="cambiarEstadoRecolector(false)">
            <i class="fas fa-ban"></i> Deshabilitar Recolector
        </button>

        <button class="btn btn-success" *ngIf="!recolector?.activo" (click)="cambiarEstadoRecolector(true)">
            <i class="fas fa-check"></i> Habilitar Recolector
        </button>
    </div>
</div>