<div class="container">
    <div class="row align-items-center mb-4">
        <div class="col">
            <h2 class="font-weight-bold">Lista de Materiales</h2>
        </div>
        <div class="col-auto">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Buscar por nombre"
                    (keyup.enter)="buscarMateriales()">
                <div class="input-group-append">
                    <button class="btn btn-info" (click)="buscarMateriales()">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="col-auto">
            <button class="btn btn-primary" (click)="createMaterial()">
                <i class="fas fa-plus"></i> Crear Nuevo Material
            </button>
        </div> -->
    </div>

    <table class="table table-striped" *ngIf="paginatedMaterials.totalElements > 0; else noResults">
        <thead>
            <tr>
                <th (click)="cambiarOrden('nombre')">Nombre
                    <span *ngIf="ordenColumna === 'nombre'">
                        <i [ngClass]="ordenAscendente ? 'fas fa-sort-up' : 'fas fa-sort-down'"></i>
                    </span>
                </th>
                <th (click)="cambiarOrden('descripcion')">Descripción
                    <span *ngIf="ordenColumna === 'descripcion'">
                        <i [ngClass]="ordenAscendente ? 'fas fa-sort-up' : 'fas fa-sort-down'"></i>
                    </span>
                </th>
                <!-- <th>Acciones</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let material of paginatedMaterials?.content">
                <td>{{ material.nombre }}</td>
                <td>{{ material.descripcion }}</td>
                <!-- <td class="d-flex">
                    <button class="btn btn-warning btn-sm mr-2" (click)="editMaterial(material.id)">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        (click)="deleteMaterial(material.id)">
                        <i class="fas fa-trash"></i>
                    </button>
                </td> -->
            </tr>
        </tbody>
    </table>

    <ng-template #noResults>
        <div class="alert alert-warning text-center" role="alert">
            No se encontraron materiales.
        </div>
    </ng-template>

    <nav aria-label="Page navigation" *ngIf="paginatedMaterials && paginatedMaterials.totalElements > 0">
        <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="paginatedMaterials.page === 0">
                <button class="page-link" (click)="cambiarPagina(paginatedMaterials.page - 1)">
                    Anterior
                </button>
            </li>
            <li class="page-item" *ngFor="let page of [].constructor(paginatedMaterials.totalPages); let i = index"
                [class.active]="i === paginatedMaterials.page">
                <button class="page-link" (click)="cambiarPagina(i)">
                    {{ i + 1 }}
                </button>
            </li>
            <li class="page-item" [class.disabled]="paginatedMaterials.page === paginatedMaterials.totalPages - 1">
                <button class="page-link" (click)="cambiarPagina(paginatedMaterials.page + 1)">
                    Siguiente
                </button>
            </li>
        </ul>
    </nav>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este material?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="confirmDelete()"
                    data-bs-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div> -->