<div class="container">
    <app-breadcrumb
        [links]="[{ label: 'Materiales', url: '/lista-materiales', icon:'fas fa-box' }, { label: 'Editar Material', url: '' }]"
        [activeLabel]="'Editar Material'">
    </app-breadcrumb>

    <h2>Editar Material</h2>

    <form [formGroup]="materialForm" (ngSubmit)="saveMaterial()">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <p id="nombre" class="form-control-plaintext">{{ materialForm.get('nombre')?.value }}</p>
        </div>

        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <p id="descripcion" class="form-control-plaintext">{{ materialForm.get('descripcion')?.value }}</p>
        </div>

        <div class="form-group">
            <label for="precio">Precio</label>
            <input type="number" id="precio" formControlName="precio" class="form-control"
                [ngClass]="{ 'is-invalid': materialForm.get('precio')?.invalid && materialForm.get('precio')?.touched }" />
            <div *ngIf="materialForm.get('precio')?.invalid && materialForm.get('precio')?.touched"
                class="invalid-feedback">
                <div *ngIf="materialForm.get('precio')?.hasError('required')">
                    El precio es obligatorio.
                </div>
                <div *ngIf="materialForm.get('precio')?.hasError('min')">
                    El precio debe ser mayor o igual a 0.
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="materialForm.invalid">Guardar Cambios</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
    </form>
</div>