.container {
  background-color: #F9F9F9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: -20px;
  height: 100%; /* Debe tomar el 100% del alto disponible */
  display: flex;
  flex-direction: column; /* Permite que el contenido se ajuste bien dentro del contenedor */
}


h2 {
  color: #4CAF50; /* Un verde que armoniza con el tema */
}

.form-group label {
  font-weight: bold; /* Negrita para las etiquetas */
  color: #333; /* Color oscuro para el texto */
}

.btn-primary {
  background-color: #6FBF6D; /* Verde reciclaje */
  border: none; /* Sin borde */
}

.btn-primary:hover {
  background-color: #5FAE5A; /* Efecto al pasar el mouse */
}


.ng-select {
  height: 38px; /* Ajusta el alto para que coincida con otros campos de input */
  padding: 0 0 0 0; /* Ajusta el padding interno */

}
.ng-select.is-invalid{
  padding: 0 40px 0 0; /* Ajusta el padding interno */
}


.ng-select.is-valid{
  padding: 0 40px 0 0; /* Ajusta el padding interno */
}
