<div class="container w-100 pl-0 pr-0">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-2">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">¡Hola!</h1>
                </div>
                <form class="user" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="username">Nombre de usuario</label>
                    <input id="username" type="text" placeholder="Ingresa tu usuario" formControlName="username"
                           class="form-control "
                           [ngClass]="{ 'is-invalid':  f['username'].invalid && (f['username'].dirty || !f['username'].untouched )}"/>
                    <div *ngIf="f['username'].invalid && (f['username'].dirty || !f['username'].untouched )"
                         class="invalid-feedback">
                      <div *ngIf="f['username'].errors?.['required']">Username es requerido</div>

                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input id="password" type="password" formControlName="password"
                           class="form-control "
                           [ngClass]="{ 'is-invalid': f['password'].invalid && (f['password'].dirty || !f['password'].untouched )}"
                           placeholder="Contraseña"/>
                    <div *ngIf="f['password'].invalid && (f['password'].dirty || !f['password'].untouched )"
                         class="invalid-feedback">
                      <div *ngIf="f['password'].errors?.['required']">Password es requerido</div>
                    </div>
                  </div>
                  <!--
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Recordarme</label>
                    </div>
                  </div>
                  -->
                  <div class="form-group">
                    <button [disabled]="loading" type="submit" class="btn btn-primary  btn-block">Iniciar
                      sesión
                    </button>
                    <img *ngIf="loading" class="pl-2"
                         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                         alt="imagen de carga"/>
                  </div>
                  <hr>
                  <div *ngIf="error" class="text-danger">{{ error }}</div>
                  <!--
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Iniciar con google
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Inciar con Facebook
                  </a>
                  -->
                </form>

                <hr>
                <div class="text-center">
                  <button [disabled]="isRecoverPass" data-bs-toggle="modal" data-bs-target="#recoverModal"
                          class="mb-2 btn btn-primary  btn-block">¿Olvidaste la contraseña?
                  </button>
                </div>

                <div class="text-center">
                  <button class="small btn btn-primary  btn-block mb-2" [disabled]="isResendEmail"
                          data-bs-toggle="modal" data-bs-target="#resendModal">¿No te llegó el mail? Reenviar
                    confirmación
                  </button>
                </div>
                <div class="text-center">
                  <button class="mb-2 btn btn-primary btn-user btn-block" routerLink="/register">Crear una cuenta
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal de reenvío de confirmación -->
<div class="modal fade" id="resendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content" [formGroup]="reenviarForm" (ngSubmit)="onSubmitReenviar()">
      <div class="modal-header">
        <h5 class="modal-title" id="resendModalLabel">Confirmación</h5>
        <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="confirmacionMail">Correo electrónico</label>
        <input formControlName="email"
               [ngClass]="{ 'is-invalid': reenviarf['email'].invalid && (reenviarf['email'].dirty || !reenviarf['email'].untouched )}"
               class="form-control " type="email" name="correoConfirmacion"
               id="confirmacionMail"
        >
        <div *ngIf="reenviarf['email'].invalid && (reenviarf['email'].dirty || !reenviarf['email'].untouched )"
             class="invalid-feedback">
          <div *ngIf="reenviarf['email'].errors?.['email']">El email es requerido</div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
        <button
          [disabled]="reenviarf['email'].invalid && (recoverf['email'].untouched || reenviarf['email'].dirty || !reenviarf['email'].untouched )"
          class="btn btn-primary" data-bs-dismiss="modal" type="submit">Enviar
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal de reenvío de confirmación -->

<!-- Modal de cambio de contraseña -->
<div class="modal fade" id="recoverModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content" [formGroup]="recoverForm" (ngSubmit)="onSubmitRecover()">
      <div class="modal-header">
        <h5 class="modal-title" id="recoverModalLabel">Recuperación de contraseña</h5>
        <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="emailCambio">Correo electrónico</label>
        <input formControlName="email"
               [ngClass]="{ 'is-invalid': recoverf['email'].invalid && (recoverf['email'].dirty ||!recoverf['email'].untouched )}"
               class="form-control " type="email" name="correoConfirmacion"
               placeholder="Ingresa tu email"
               id="emailCambio"
        >
        <div *ngIf="recoverf['email'].invalid && (recoverf['email'].dirty || !recoverf['email'].untouched )"
             class="invalid-feedback">
          <div *ngIf="recoverf['email'].errors?.['email']">El email es requerido</div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
        <button
          [disabled]="recoverf['email'].invalid && (recoverf['email'].untouched || recoverf['email'].dirty || !recoverf['email'].untouched )"
          class="btn btn-primary" data-bs-dismiss="modal" type="submit">Enviar
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal de cambio de contraseña -->

