<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Interruptor de barra lateral (barra superior) -->
    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Búsqueda de la barra superior -->

    <!-- Navbar de la barra superior -->
    <ul  class="navbar-nav ml-auto">
        <!-- Elemento de navegación - Usuarios -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle"   role="button"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-user-group"></i>
                <!-- Contador: Alertas -->
                <span class="badge badge-danger badge-counter"></span>
            </a>
            <!-- Menú desplegable - Alertas -->
          <!--
          <div  class="dropdown-menu dropdown-menu-end shadow animate__animated animate__fadeIn"
                 aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    Solicitud de grupos
                </h6>

                <a *ngFor="let solicitud of solicitudesPendientes" class="dropdown-item d-flex align-items-center" >
                    <div class="mr-3">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="/assets/icons8-jake.svg"
                                 alt="...">
                            <div class="status-indicator bg-success"></div>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">7 de diciembre de 2019</div>
                        ¡{{ solicitud.teInvito }} te ha invitado a {{solicitud.grupo}}!
                        <button (click)="aceptarSolicitud(solicitud.id)" type="button" class="btn btn-primary">+</button>
                        <button (click)="rechazarSolicitud(solicitud.id)" type="button" class="btn btn-warning">-</button>
                    </div>

                </a>

                <a class="dropdown-item text-center small text-gray-500">Mostrar todas las
                    solicitudes</a>
            </div>
            <-->
        </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa-regular fa-handshake"></i>
          <!-- Contador: Alertas -->
          <span class="badge badge-danger badge-counter">3+</span>
        </a>
        <!-- Menú desplegable - Alertas -->
        <div class="dropdown-menu dropdown-menu-end shadow animate__animated animate__fadeIn"
             aria-labelledby="alertsDropdown">
          <h6 class="dropdown-header">
            Solicitud de amistades
          </h6>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
              <div class="dropdown-list-image mr-3">
                <img class="rounded-circle" src="/assets/icons8-jake.svg"
                     alt="...">
                <div class="status-indicator bg-success"></div>
              </div>
            </div>
            <div>
              <div class="small text-gray-500">12 de diciembre de 2019</div>
              <span class="font-weight-bold">¡Juan te ha enviado una solicitud!</span>
              <button type="button" class="btn btn-primary">+</button>
              <button type="button" class="btn btn-warning">-</button>
            </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
              <div class="dropdown-list-image mr-3">
                <img class="rounded-circle" src="/assets/icons8-jake.svg"
                     alt="...">
                <div class="status-indicator bg-success"></div>
              </div>
            </div>
            <div>
              <div class="small text-gray-500">7 de diciembre de 2019</div>
              ¡Juana te ha enviado una solicitud!
              <button type="button" class="btn btn-primary">+</button>
              <button type="button" class="btn btn-warning">-</button>
            </div>

          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
              <div class="dropdown-list-image mr-3">
                <img class="rounded-circle" src="/assets/icons8-jake.svg"
                     alt="...">
                <div class="status-indicator bg-success"></div>
              </div>
            </div>
            <div>
              <div class="small text-gray-500">2 de diciembre de 2019</div>
              ¡Pablo te ha enviado una solicitud!
              <button type="button" class="btn btn-primary">+</button>
              <button type="button" class="btn btn-warning">-</button>
            </div>
          </a>
          <a class="dropdown-item text-center small text-gray-500" href="#">Mostrar todas las
            solicitudes</a>
        </div>
      </li>


        <!-- Elemento de navegación - Menú desplegable de búsqueda (visible solo en XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Menú desplegable - Mensajes -->
            <div class="dropdown-menu dropdown-menu-end shadow animate__animated animate__fadeIn p-3"
                 aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                               placeholder="Buscar..." aria-label="Buscar"
                               aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <!-- Elemento de navegación - Alertas -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsInforme" role="button"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Contador: Alertas -->
                <span class="badge badge-danger badge-counter">3+</span>
            </a>
            <!-- Menú desplegable - Alertas -->
            <div class="dropdown-menu dropdown-menu-end shadow animate__animated animate__fadeIn"
                 aria-labelledby="alertsInforme">
                <h6 class="dropdown-header">
                    Centro de alertas
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-primary">
                            <i class="fas fa-file-alt text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">12 de diciembre de 2019</div>
                        <span class="font-weight-bold">¡Un nuevo informe mensual está listo para descargar!</span>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-success">
                            <i class="fas fa-donate text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">7 de diciembre de 2019</div>
                        ¡Se han depositado $290.29 en tu cuenta!
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-warning">
                            <i class="fas fa-exclamation-triangle text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">2 de diciembre de 2019</div>
                        Alerta de gastos: hemos notado un gasto inusualmente alto en tu cuenta.
                    </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Mostrar todas las
                    alertas</a>
            </div>
        </li>

        <!-- Elemento de navegación - Mensajes -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Contador: Mensajes -->
                <span class="badge badge-danger badge-counter">7</span>
            </a>
            <!-- Menú desplegable - Mensajes -->
            <div class="dropdown-menu dropdown-menu-end shadow animate__animated animate__fadeIn"
                 aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                    Centro de mensajes
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="/assets/icons8-jake.svg"
                             alt="...">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                        <div class="text-truncate">¡Hola! Me pregunto si puedes ayudarme con un problema que
                            he estado teniendo.
                        </div>
                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="/assets/icons8-jake.svg"
                             alt="...">
                        <div class="status-indicator"></div>
                    </div>
                    <div>
                        <div class="text-truncate">Tengo las fotos que ordenaste el mes pasado, ¿cómo te
                            gustaría que te las enviara?
                        </div>
                        <div class="small text-gray-500">Jae Chun · 1d</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="/assets/icons8-jake.svg"
                             alt="...">
                        <div class="status-indicator bg-warning"></div>
                    </div>
                    <div>
                        <div class="text-truncate">El informe del mes pasado se ve genial, estoy muy
                            contento con el progreso hasta ahora, ¡sigue con el buen trabajo!
                        </div>
                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="/assets/icons8-jake.svg"
                             alt="...">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div>
                        <div class="text-truncate">¿Soy un buen chico? La razón por la que pregunto es
                            porque alguien me dijo que la gente le dice esto a todos los perros, incluso si
                            no son buenos...
                        </div>
                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                    </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Leer más mensajes</a>
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Elemento de navegación - Información de usuario -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                <img class="img-profile rounded-circle"
                     src="/assets/icons8-bmo.svg">
            </a>
            <!-- Menú desplegable - Información de usuario -->
            <div class="dropdown-menu dropdown-menu-end shadow animate__animated animate__fadeIn"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Perfil
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Configuración
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Registro de actividad
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Cerrar sesión
                </a>
            </div>
        </li>

    </ul>
</nav>



<!-- Modal de Cierre de Sesión -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Listo para salir?</h5>
                <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Selecciona "Cerrar sesión" a continuación si estás listo para finalizar tu sesión
                actual.
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" data-bs-dismiss="modal" >Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>

